
<!DOCTYPE html>
<html lang="vi">
<head>
    <title>@ViewBag.Title | T-House</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="UTF-8" />
    <meta name="description" content="Với T-House, việc mua bán, cho thuê, đầu tư bất động sản, nhà đất trở nên hiệu quả và tin cậy hơn. Bạn sẽ dễ dàng tìm được ngôi nhà ưng ý nhất với giá hợp lý." />
    <meta name="keywords" content="T-House, mua ban, cho thue, bat dong san, nha dat, van phong, dat nen, biet thu, villa" />
    <meta name="author" content="rever.vn" />


    <link rel="canonical" href="https://rever.vn/" />
    <link rel="shortcut icon" type="image/x-icon" href="~/Content/img/T.png" />
    <meta name="viewport" content="width=device-width,initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />

    <meta property="fb:app_id" content="265437617126890" />
    <meta property="og:url" content="https://rever.vn/" />
    <meta property="og:title" content="T-House | Mua bán, cho thuê nhà đất, căn hộ, đất nền và văn phòng" />
    <meta property="og:description" content="Với T-House, việc mua bán, cho thuê, đầu tư bất động sản, nhà đất trở nên hiệu quả và tin cậy hơn. Bạn sẽ dễ dàng tìm được ngôi nhà ưng ý nhất với giá hợp lý." />
    <meta property="og:image" content="~/Content/img/T2.png" />
    <meta property="og:image:url" content="~/Content/img/T2.png" />
    <meta property="og:image:width" content="600" />
    <meta property="og:image:height" content="320" />
    <meta property="og:site_name" content="rever.vn" />
    <meta property="og:rich_attachment" content="true" />
    <meta property="og:type" content="article" />
    <meta property="static-url" content="https://t-house.com" />
    <meta property="hotline" content="0974 131 292" />
    <meta name="apple-itunes-app" content="app-id=265437617126890, app-argument=" />

    <link href="~/css/material-design-iconic-font.2-118.css" rel="stylesheet" />
    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <style>
        picture img {
            display: inline-block;
            vertical-align: middle;
        }
    </style>

    <script src="~/js/jQuery-2.1.4.min-114.js"></script>
    <script src="~/import/external-118.js"></script>
    <script src="~/import/tracking.min-118.js"></script>
    <meta name="ahrefs-site-verification" content="b3a10354398a2c17b3410f4506518ba93e519af05a49ba8d75ccb03d7059bbe6">
    <link href="~/Content/css/index.css" rel="stylesheet" />
</head>
<body>
    <div id="wrap">
        @RenderBody()

        <footer>
            <div class="width1140">

                <ul class="hotline-info">
                    <li>
                        <span class="font-icon fone"></span>
                        <p class="wt">Hotline (24/7)</p>
                        <p class="cyt"><a href="tel:0974 131 292">0974 131 292</a></p>
                    </li>
                    <li>
                        <span class="font-icon fone"></span>
                        <p class="wt">Khiếu nại, phản hồi</p>
                        <p class="cyt"><a href="tel:0974 131 292">0974 131 292</a></p>
                    </li>
                    <li>
                        <span class="font-icon email-icon-pro"></span>
                        <p class="wt">Hợp tác với T-House</p>
                        <p class="cyt">
                            <a href="#">
                                <span>hoptac.THouse</span>
                            </a>
                        </p>
                    </li>
                    <li>
                        <span class="font-icon email-icon-pro"></span>
                        <p class="wt">Bộ phận kinh doanh</p>
                        <p class="cyt"><a href="#"><span>kinhdoanh.THouse</span></a></p>
                    </li>
                    <li>
                        <span class="font-icon email-icon-pro"></span>
                        <p class="wt">Chăm sóc khách hàng</p>
                        <p class="cyt"><a href="#"><span>cskh.THouse@gmail.com</span></a></p>
                    </li>
                </ul>
                @*<div class="box-about-ft">
                    <ul class="right-ft">
                        <li class="left-ft">
                            <a href="/" style="padding:0 0 10px"><img src="~/Content/img/T2.png" alt="rever" title="rever"></a>
                            <p>
                                48/297 Trần Cung - Từ Liêm - Hà Nội
                            </p>
                            <div class="social">
                                <a class="font-icon facebook" target="_blank" title="Facebook" href="https://www.facebook.com/tiephoang.dev"></a>
                                <a class="font-icon twitter" target="_blank" title="Twitter" href="#"></a>
                                <a class="font-icon in" target="_blank" title="Linkedin" href="#"></a>
                                <a class="font-icon gplus" target="_blank" title="Instagram" href="#"></a>
                                <a class="font-icon youtube" target="_blank" title="Youtube" href="#"></a>
                            </div>
                        </li>
                        <li>
                            <p class="link-cty"><strong>CÔNG TY</strong><span class="font-icon"></span></p>
                            <div id="mn-01">
                                <a href="#" title="Về T-House">Về T-House</a>
                                <a href="#" title="Tuyển dụng">Tuyển dụng</a>
                                <a href="#">Đội ngũ</a>
                                <a href="#">Sàn giao dịch</a>
                                <a href="#" title="Liên hệ">Liên hệ</a>
                            </div>
                        </li>
                        <li>
                            <p class="link-dv"><strong>DỊCH VỤ</strong><span class="font-icon"></span></p>
                            <div id="mn-02">
                                <a href="#">Vì sao chọn T-House</a>
                                <a href="#">Bán &amp; Cho thuê</a>
                                <a href="#">Mua với T-House</a>
                                <a href="#">Thuê với T-House</a>
                                <a href="#">Chuyên viên T-House</a>
                            </div>
                        </li>
                        <li>
                            <p class="link-tt"><strong>THÔNG TIN</strong><span class="font-icon"></span></p>
                            <div id="mn-03">
                                <a href="#" target="_blank">Tin tức thị trường</a>
                                <a href="#" target="_blank">Báo cáo &amp; phân tích</a>
                                <a href="#" target="_blank">Cẩm nang nhà đất</a>
                                <a href="#" target="_blank">Trung tâm đào tạo</a>
                                <a href="#" target="_blank">Hướng dẫn sử dụng</a>
                            </div>
                        </li>
                        <li>
                            <p class="link-ud"><strong>ỨNG DỤNG</strong><span class="font-icon"></span></p>
                            <div id="mn-04">
                                <a href="#" target="_blank">T-House trên iOS</a>
                                <a href="#" target="_blank">T-House trên Android</a>
                                <a href="#" target="_blank">T-House Agents trên iOS</a>
                                <a href="#" target="_blank">T-House Agents trên Android</a>
                            </div>
                        </li>
                    </ul>
                </div>
                <div class="footer-row last-row">
                    <div class="left">
                        <span>Copyright © 2018 - T-House. All Rights Reserved.</span>
                    </div>
                    <div class="right">
                        <a href="#">Chính sách bảo mật</a>
                        <a href="#">Điều khoản sử dụng</a>
                        <a href="#">Phản hồi</a>
                    </div>
                </div>*@
            </div>
            <link href="~/css/footer.css" rel="stylesheet" />
        </footer>
        <script src="~/js/jquery-ui.js"></script>
        <script src="~/js/header.js"></script>

        <script type="text/javascript" id="hs-script-loader" async src="https://rever.vn/public/externaljs/js.hs-scripts.com/2775524.js"></script>
        <script src="/js/jquery.flexslider.jfix-0.0.1.min-114.js"></script>
        @*<script src="/app/home-v2.min-118.js"></script>*@
    </div>
</body>
</html>