
@{
    ViewBag.Title = "GT";
    Layout = "~/Views/Shared/_Layout02.cshtml";
}
<link href="~/css/menu.min-118.css" rel="stylesheet" />
<link href="~/css/service.min-118.css" rel="stylesheet" />

<div class="cta-bottom-wrapper">
    <div class="cta-bottom-inner">
        <div class="phone">
            <a class="cta-hotline" href="tel:0901 777 667">
                <span class="font-icon fone-b font-20"> </span>
                <strong>0901 777 667</strong>
            </a>
        </div>
        <div>
            <a class="cta-form" href="#" data-action="contact-agent">Liên hệ ngay</a>
        </div>
    </div>
</div>

@*<div class="s-menu" style="display: none">
        <div class="width-1600">
            <div class="s-menu-wrapper">
                <ul>
                    <li class="s-menu-items active">
                        <a href="#">Vì sao chọn T-House ?</a>
                    </li>
                    <li class="s-menu-items">
                        <a href="/ban-nha-voi-rever">Bán &amp; Cho thuê với T-House </a>
                    </li>
                    <li class="s-menu-items">
                        <a href="/mua-nha-voi-rever">Mua với T-House </a>
                    </li>
                    <li class="s-menu-items">
                        <a href="/thue-nha-voi-rever">Thuê với T-House </a>
                    </li>
                    <li class="s-menu-items">
                        <a href="/rever-photo">Rever Photo</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>*@

@*<div class="sticky-header" >
        <div class="stickyTrigger is-stuck sticky-sMenu">
            <div class="s-menu-wrapper">
                <ul>
                    <li class="s-menu-items active">
                        <a href="#">Vì sao chọn T-House ?</a>
                    </li>
                    <li class="s-menu-items">
                        <a href="/ban-nha-voi-rever">Bán &amp; Cho thuê với T-House </a>
                    </li>
                    <li class="s-menu-items">
                        <a href="/mua-nha-voi-rever">Mua với T-House </a>
                    </li>
                    <li class="s-menu-items">
                        <a href="/thue-nha-voi-rever">Thuê với T-House </a>
                    </li>
                    <li class="s-menu-items">
                        <a href="/rever-photo">Rever Photo</a>
                    </li>
                    <li class="s-btn-contact">
                        <a href="#" data-action="contact-agent">Liên hệ tư vấn</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>*@

<div id="s-all" class="s-banner-bg" style=" margin-top: 50px; background: url(https://static.reverland.com/images/bg-service-sell.jpg) 50% 50% / cover no-repeat;">
    <div class="s-banner-bg-inner">
        <div class="s-banner-header-wrapper">
            <h1>Mua bán nhà đất theo phương thức mới</h1>
            <div class="sumary">
                T-House mong muốn mang đến cho bạn trải nghiệm tốt nhất trong việc tìm kiếm và giao dịch bất
                động sản. Lợi thế về công nghệ từ T-House sẽ giúp bạn tiết kiệm đáng kể chi phí, công sức và thời gian
            </div>
        </div>
    </div>
</div>

<!-- BLOCK 1 -->
<section class="background-gray">
    <div class="width1140 s-padding-tb">
        <ul>
            <li class="s-col-3">
                <div class="item">
                    <div class="icon-wrapper">
                        <img src="https://static.reverland.com/images/ho-tro-icon.svg" alt="icon-save">
                    </div>
                    <h4>Được hỗ trợ mọi lúc</h4>
                    <p>
                        Chuyên viên T-House am hiểu từng khu vực sẽ hỗ trợ bạn tất cả mọi vấn đề và đưa ra lời khuyên phù hợp
                        nhất
                    </p>
                </div>
            </li>
            <li class="s-col-3">
                <div class="item">
                    <div class="icon-wrapper">
                        <img src="https://static.reverland.com/images/chi-phi-icon.svg" alt="icon-price">
                    </div>
                    <h4>Chi phí thấp nhất</h4>
                    <p>Với lợi thế công nghệ và miễn phí các dịch vụ, T-House giúp bạn tiết kiệm đến 15% so với thị trường</p>
                </div>
            </li>
            <li class="s-col-3">
                <div class="item">
                    <div class="icon-wrapper">
                        <img src="https://static.reverland.com/images/dich-vu-icon.svg" alt="icon-buy">
                    </div>
                    <h4>Đầy đủ các dịch vụ</h4>
                    <p>
                        Dịch vụ T-House được tối ưu để hỗ trợ bạn từng bước, từ lúc tìm kiếm, thương lượng cho đến khi giao dịch
                        hoàn tất
                    </p>
                </div>
            </li>
        </ul>
    </div>
</section>
<!-- END BLOCK 1 -->
<!--  -->
<section id="rv-guide" class="service-all">
    <div class="s-padding-tb bg-gray">
        <div class="guide-item">
            <div class="s-col">
                <div class="img-wrapper">
                    <img src="https://static.reverland.com/images/dong-hanh.jpg" alt="Chuyên viên T-House đồng hành cùng bạn">
                </div>
            </div>
            <div class="s-col">
                <div class="s-content mgr-l-0">
                    <h2 class="s-feature-heading">Đồng hành hỗ trợ từng bước</h2>
                    <p>
                        Chuyên viên T-House - được đào tạo chuyên nghiệp, luôn đặt sự hài lòng của khách hàng là mục tiêu cao nhất.
                        Với vai trò là người đồng hành hỗ trợ bạn trong suốt quá trình mua / bán, sẽ tư vấn kỹ càng cho bạn về xu
                        hướng & biến động thị trường, thông tin quy hoạch, tiện ích và cộng đồng cư dân ở khu vực bạn quan tâm,
                        đưa ra những gợi ý phù hợp nhất ứng với nhu cầu và tình hình tài chính của bạn.
                    </p>
                    <p class="s-btn-inner" style="cursor: not-allowed;
                            pointer-events: none; opacity:.5"><a class="s-btn-red">Tìm hiểu Chuyên viên T-House </a></p>
                </div>
            </div>
        </div>
    </div>
    <div class="s-padding-tb background-gray">
        <div class="guide-item">
            <div class="s-col">
                <div class="img-wrapper">
                    <img src="https://static.reverland.com/images/ban-voi-gia-tot-nhat.jpg" alt="Miễn phí quảng bá">
                </div>
            </div>
            <div class="s-col">
                <div class="s-content">
                    <h2 class="s-feature-heading">Bán với giá tốt nhất, chi phí bỏ ra thấp nhất</h2>
                    <p>
                        T-House hỗ trợ miễn phí cho chủ nhà mọi thứ từ hình ảnh chuyên nghiệp, scan 3D đến việc quảng bá nhà của bạn
                        ở tất cả các kênh phổ biến và hỗ trợ các thủ tục khi giao dịch. Công nghệ mới đưa thông tin chính xác đến
                        người có nhu cầu phù hợp giúp cho chủ nhà tìm được khách mua / thuê nhanh nhất.
                    </p>
                    <p class="s-btn-inner">
                        <a class="s-btn-red" href="/ban-nha-voi-rever">Bán & Cho thuê với T-House </a>
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="s-padding-tb">
        <div class="guide-item">
            <div class="s-col">
                <div class="img-wrapper">
                    <img src="https://static.reverland.com/images/nhanh-chong.jpg" alt="Hỗ trợ đầy đủ các thủ tục pháp lý">
                </div>
            </div>
            <div class="s-col">
                <div class="s-content mgr-l-0">
                    <h2 class="s-feature-heading">Nhanh chóng tìm được ngôi nhà ưng ý với giá hợp lý</h2>
                    <p>
                        Nhà đất giá tốt được cập nhật liên tục trên T-House với thông tin và hình ảnh chính xác đến từ chủ nhà. Bạn
                        có thể đăng ký xem nhà, thương lượng giá và nhận tư vấn nhanh chóng ngay trên web và ứng dụng. Dịch vụ
                        T-House sẽ hỗ trợ bạn mọi thứ phát sinh trong quá trình giao dịch (giấy tờ, pháp lý và vay ngân hàng...)
                    </p>
                    <div class="s-btn-inner">
                        <a class="s-btn-red s-btn-red2" href="/mua-nha-voi-rever">Mua với T-House </a>
                        <a class="s-btn-red s-btn-red2" href="/thue-nha-voi-rever">Thuê với T-House </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="s-padding-tb background-gray">
        <div class="guide-item">
            <div class="s-col">
                <div class="img-wrapper">
                    <img src="https://static.reverland.com/images/van-phong-rever.jpg" alt="Miễn phí quảng bá">
                </div>
            </div>
            <div class="s-col">
                <div class="s-content">
                    <h2 class="s-feature-heading">Văn phòng của T-House hiện diện tại các điểm nóng</h2>
                    <p>
                        T-House hiện đã có văn phòng giao dịch tại các điểm nóng như Quận 2, Quận 7, Quận 4, Quận 1, Quận Bình
                        Thạnh... và không ngừng mở rộng sự hiện diện rộng khắp ở các khu vực khác, nhằm mang đến sự hỗ trợ tốt
                        nhất cho nhu cầu về bất động sản của bạn.
                    </p>
                    <p class="s-btn-inner"><a href="/san-giao-dich" class="s-btn-red">Tìm văn phòng gần bạn</a></p>
                </div>
            </div>
        </div>
    </div>
</section>
<!--  -->
<!--  -->
<section>
    <div class="width1140 s-padding-tb">
        <div class="s-heading pd-bt-30">Thông tin chính xác, liên tục cập nhật</div>
        <p class="s-description" style="">
            Thông tin nhà đất được xác thực và cập nhật liên tục theo biến động thị trường nhờ mối liên kết chặt chẽ giữa
            T-House với chủ nhà. Số liệu và trạng thái của nhà đất được hiển thị rõ ràng cho cả chủ nhà lẫn khách hàng tiềm
            năng. Ngoài ra, công nghệ phân tích dữ liệu sẽ cung cấp các thông tin tham khảo hữu ích khác dựa vào thống kê từ
            thị trường chung.
        </p>
    </div>
</section>
<!--  -->
<!-- BLOCK 4 -->
<section style="background: #c52728">
    <div class="width1140 s-padding-tb">
        <div class="s-heading s-text-w">Khách hàng nói gì</div>
        <div id="customer" class="s-customer-rating">
            <div class="s-customer-rating-btn">
                <a href="#">
                    <span class="btn-next flex-next s-text-w"></span>
                </a>
                <a href="#">
                    <span class="btn-pre flex-prev s-text-w"></span>
                </a>
            </div>
            <ul class="slides">
                <li class="flex-active-slide">
                    <p class="description s-text-w">
                        "Trước đây tôi không có ấn tượng tốt với môi giới nhà đất, bởi vì đã trải
                        qua vài lần tìm thuê nhà và phải làm việc với họ, tôi cảm thấy mất thời gian và rước vào những phiền nhiễu
                        không đáng có. Nhưng vừa rồi, các bạn chuyên viên đến từ T-House đã khiến tôi thay đổi quan niệm đó, tôi đã
                        được bạn ấy chia sẻ tận tình những ưu và nhược điểm của ngôi nhà tôi đang muốn thuê, ngoài ra bạn ấy còn
                        gợi ý cho tôi nhiều căn khác lân cận với mức giá tốt cũng như hỗ trợ tôi thương lượng giá thuê và gói
                        trang bị nội thất với chủ nhà rất suôn sẻ, tôi đã thuê được căn hộ rất đẹp với giá theo tôi là khá hợp lý,
                        chắc chắn tôi sẽ giới thiệu T-House cho bạn bè của mình."
                    </p>
                    <div class="customer">
                        <div class="avatar">
                            <img src="https://static.reverland.com/images/diemnhi.jpg" alt="" draggable="false">
                        </div>
                        <div class="info">
                            <p class="name s-text-w">Hồ Thị Duyên Trang</p>
                            <p class="s-text-w">Trưởng phòng, Thiên Hoà Group.</p>
                        </div>
                    </div>
                </li>
                @*<li>
                        <p class="description s-text-w">
                            "Tôi không ngờ mua nhà dự án lại đơn giản và dễ dàng như vậy, T-House đã cung
                            cấp cho tôi hầu như tất cả thông tin cần thiết về dự án Empire City Thủ Thiêm và hướng dẫn tôi mọi thủ tục
                            cần thiết, tôi rất an tâm khi làm việc với bạn môi giới của T-House , bạn ấy rất tận tình, hiểu biết rất tốt
                            thị trường, phong cách chuyên nghiệp và cũng rất dễ thương nữa."
                        </p>
                        <div class="customer">
                            <div class="avatar">
                                <img src="https://static.reverland.com/images/trongkhoi.jpg" alt="" draggable="false">
                            </div>
                            <div class="info">
                                <p class="name s-text-w">Phan Thành Tâm</p>
                                <p class="s-text-w">Kỹ sư phần mềm - FPT Software</p>
                            </div>
                        </div>
                    </li>*@
            </ul>
        </div>
    </div>
</section>
<!-- END BLOCK 4 -->
<!--  SUBSCRIPTION  -->
<section class="s-bg-subcription">
    <div class="width1140 s-padding-tb">
        <div class="s-subcription-inner">
            <div class="s-heading s-text-w pd-bt-20">Liên hệ tư vấn miễn phí</div>
            <div class="title">Rever hoạt động 24/7 để sẵn sàng hỗ trợ bạn các nhu cầu, thắc mắc về nhà đất</div>
            <div class="btn-contact">
                <a href="#" class="s-btn-red" data-action="contact-agent">Liên hệ ngay</a>
            </div>
        </div>
    </div>
</section>
<!-- END SUBSCRIPTION -->


<div class="mdialog" id="contact-now-form" style="background: none">
    <div class="popup-520" style="overflow: visible;">
        <div class="header-w-close">
            <button class="close-popup-btn"><i class="zmdi zmdi-hc-2x zmdi-close"></i></button>
            <h3 class="font-tiempos">Liên hệ chuyên viên tư vấn</h3>
        </div>
        <div class="form-info" id="contact-now-form-body">
        </div>
    </div>
</div>