@model WebsiteMVC.Models.TinTuc

@{
    ViewBag.Title = "Detail";
    Layout = "~/Views/Shared/_Layout02.cshtml";
}
<link href="~/Content/css/combined.css" rel="stylesheet" />

<div class="body-container-wrapper">
    <div class="body-container container-fluid">

        <div class="row-fluid-wrapper row-depth-1 row-number-1 ">
            <div class="row-fluid ">
                <div class="span12 widget-span widget-type-cell rv-blog-banner-wrapper" style="background-color: #f3f5f8;" data-widget-type="cell" data-x="0" data-w="12">

                    <div class="row-fluid-wrapper row-depth-1 row-number-2 ">
                        <div class="row-fluid ">
                            <div class="span12 widget-span widget-type-cell RV-tittle-wrapper" style="" data-widget-type="cell" data-x="0" data-w="12">

                                <div class="row-fluid-wrapper row-depth-1 row-number-3 ">
                                    <div class="row-fluid ">
                                        <div class="span12 widget-span widget-type-raw_jinja " style="" data-widget-type="raw_jinja" data-x="0" data-w="12">

                                            <h1><span id="hs_cos_wrapper_name" class="hs_cos_wrapper hs_cos_wrapper_meta_field hs_cos_wrapper_type_text" style="" data-hs-cos-general-type="meta_field" data-hs-cos-type="text">Những hình ảnh đầu tiên về khu cảnh quan công cộng dự án Empire City</span></h1>
                                            <p class="type-post" id="hubspot-topic_data">

                                                <a class="topic-link-top" href="https://blog.rever.vn/topic/thị-trường">Thị Trường</a> •

                                                <a class="topic-link-top" href="https://blog.rever.vn/topic/empire-city">Empire City</a>

                                            </p>
                                        </div><!--end widget-span -->

                                    </div><!--end row-->
                                </div><!--end row-wrapper -->

                            </div><!--end widget-span -->
                        </div><!--end row-->
                    </div><!--end row-wrapper -->

                </div><!--end widget-span -->
            </div><!--end row-->
        </div><!--end row-wrapper -->

        <div class="row-fluid-wrapper row-depth-1 row-number-4 ">
            <div class="row-fluid ">
                <div class="span12 widget-span widget-type-cell rv-blog-body-wrapper" style="" data-widget-type="cell" data-x="0" data-w="12">

                    <div class="row-fluid-wrapper row-depth-1 row-number-5 ">
                        <div class="row-fluid ">
                            <div class="span12 widget-span widget-type-blog_content " style="" data-widget-type="blog_content" data-x="0" data-w="12">
                                <div class="main-body">
                                    <div class="post-heading">
                                        <div class="post-heading-left">
                                            <div class="avatar-agent">
                                                <img src="/hubfs/RV-Blog-Theme/author-image.jpg">
                                            </div>
                                            <div class="name">
                                                <a>Thế An</a>
                                                <!--<p>Chuyên viên media</p>   -->
                                            </div>
                                        </div>
                                        <div class="post-heading-right">
                                            <div class="date-type">
                                                <!--<p class="type-post" id="hubspot-topic_data">-->
                                                <!--     -->
                                                <!--            -->
                                                <!--                <a class="topic-link-top" href="https://blog.rever.vn/topic/thị-trường">Thị Trường</a>,-->
                                                <!--            -->
                                                <!--                <a class="topic-link-top" href="https://blog.rever.vn/topic/empire-city">Empire City</a>-->
                                                <!--            -->
                                                <!--    -->
                                                <!--</p>-->
                                                <p class="date-post">
                                                    27/03/2018
                                                </p>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="hs-featured-image-wrapper"><img src="https://blog.rever.vn/hubfs/empire_5-1.jpg?t=1522854209424" alt="empire_5-1"></div>

                                    <!--POST CONTENT-->
                                    <div class="post-body">
                                        <span id="hs_cos_wrapper_post_body" class="hs_cos_wrapper hs_cos_wrapper_meta_field hs_cos_wrapper_type_rich_text" style="" data-hs-cos-general-type="meta_field" data-hs-cos-type="rich_text">
                                            <p style="text-align: left;">Nằm tại vị trí trung tâm của <a href="https://rever.vn/du-an/empire-city" rel=" noopener" target="_blank">dự án Empire City</a>, khu cảnh quan công cộng (The Public Realm Landscape) giữ một vai trò quan trọng và được xem là "xương sống" kết nối tất cả các tòa tháp tại dự án lại với nhau, đồng thời tạo ra một môi trường sống tràn ngập sắc xanh phục vụ cư dân. Những hình ảnh thiết kế đầu tiên về khu cảnh quan dưới đây sẽ cho bạn thấy được điều này.</p>
                                            <!--more-->
                                            <p style="text-align: center;">
                                                <!--HubSpot Call-to-Action Code --><span class="hs-cta-wrapper" id="hs-cta-wrapper-95a44bee-ec6c-4ffd-a94f-f737a6d1af57">
                                                    <span class="hs-cta-node hs-cta-95a44bee-ec6c-4ffd-a94f-f737a6d1af57" id="hs-cta-95a44bee-ec6c-4ffd-a94f-f737a6d1af57"><!--[if lte IE 8]><div id="hs-cta-ie-element"></div><![endif]--><a href="https://cta-redirect.hubspot.com/cta/redirect/2775524/95a44bee-ec6c-4ffd-a94f-f737a6d1af57" target="_blank"><img class="hs-cta-img" id="hs-cta-img-95a44bee-ec6c-4ffd-a94f-f737a6d1af57" style="border-width:0px;" src="https://no-cache.hubspot.com/cta/default/2775524/95a44bee-ec6c-4ffd-a94f-f737a6d1af57.png" alt="Tải nhanh Phân tích và Đánh giá dự án Empire City"></a></span>
                                                    <script charset="utf-8" src="https://js.hscta.net/cta/current.js"></script>
                                                    <script type="text/javascript">    hbspt.cta.load(2775524, '95a44bee-ec6c-4ffd-a94f-f737a6d1af57', {});</script>
                                                </span><!-- end HubSpot Call-to-Action Code -->
                                            </p>
                                            <h2>Khu cảnh quan công cộng Empire City: Nơi cư dân tận hưởng cuộc sống đẳng cấp</h2>
                                            <p>Khu cảnh quan công cộng tại dự án Empire City bao gồm tuyến phố đi bộ với những mảng xanh được bố trí hài hòa, khoa học, bắt đầu từ <a href="/empire-88-tower-thien-nhien-hoa-quyen-giua-lung-chung-may" rel=" noopener" target="_blank">tòa tháp biểu tượng Empire 88 Tower</a> và nối dài tới tận công viên ven sông.</p>
                                            <p>Chưa dừng lại ở đó, tại khu vực cảnh quan công cộng này, cư dân sẽ có một trải nghiệm đầy thú vị bởi xung quanh tuyến phố đi bộ sẽ được tích hợp những tiện ích vượt trội, trong đó điểm nhấn sẽ là khu nhà hát công cộng phục vụ cho các sự kiện đặc biệt.</p>
                                            <p>Những hình ảnh thiết kế đầu tiên của Khu cảnh quan công cộng Empire City một lần nữa cho thấy tầm nhìn và sự nghiêm túc của liên doanh <a href="/nhung-du-an-bat-dong-san-dang-va-sap-trien-khai-cua-keppel-land" rel=" noopener" target="_blank">chủ đầu tư Keppel Land</a> - <a href="/nhung-du-an-bat-dong-san-noi-bat-cua-chu-dau-tu-tran-thai" rel=" noopener" target="_blank">Trần Thái</a> - <a href="/7-du-an-can-ho-noi-bat-cua-chu-dau-tu-tien-phuoc-tai-tphcm" rel=" noopener" target="_blank">Tiến Phước</a> trong việc tạo nên một thành phố thu nhỏ, nói đúng hơn là một phiên bản nâng cấp của Quận 1.</p>
                                            <p><strong>Những hình ảnh thiết kế về khu cảnh quan công cộng dự án Empire City:</strong></p>
                                            <p style="text-align: center;"><em><img src="https://blog.rever.vn/hs-fs/hubfs/empire_1.jpg?t=1522854209424&amp;width=750&amp;height=473&amp;name=empire_1.jpg" alt="Phối cảnh thiết kế khu cảnh quan công cộng dự án Empire City" width="750" height="473" style="width: 750px;" srcset="https://blog.rever.vn/hs-fs/hubfs/empire_1.jpg?t=1522854209424&amp;width=375&amp;height=237&amp;name=empire_1.jpg 375w, https://blog.rever.vn/hs-fs/hubfs/empire_1.jpg?t=1522854209424&amp;width=750&amp;height=473&amp;name=empire_1.jpg 750w, https://blog.rever.vn/hs-fs/hubfs/empire_1.jpg?t=1522854209424&amp;width=1125&amp;height=710&amp;name=empire_1.jpg 1125w, https://blog.rever.vn/hs-fs/hubfs/empire_1.jpg?t=1522854209424&amp;width=1500&amp;height=946&amp;name=empire_1.jpg 1500w, https://blog.rever.vn/hs-fs/hubfs/empire_1.jpg?t=1522854209424&amp;width=1875&amp;height=1183&amp;name=empire_1.jpg 1875w, https://blog.rever.vn/hs-fs/hubfs/empire_1.jpg?t=1522854209424&amp;width=2250&amp;height=1419&amp;name=empire_1.jpg 2250w" sizes="(max-width: 750px) 100vw, 750px"></em></p>
                                            <p style="text-align: center;"><em>Phối cảnh thiết kế khu cảnh quan công cộng, phân khu&nbsp;Tilia Residences&nbsp;<a href="https://rever.vn/du-an/empire-city" rel=" noopener" target="_blank">dự án Empire City</a>. Nguồn: Empire City</em></p>
                                            <p style="text-align: center;"><em><img src="https://blog.rever.vn/hs-fs/hubfs/empire_2.jpg?t=1522854209424&amp;width=750&amp;height=475&amp;name=empire_2.jpg" alt="khu cảnh quan công cộng dự án Empire City" width="750" height="475" style="width: 750px;" srcset="https://blog.rever.vn/hs-fs/hubfs/empire_2.jpg?t=1522854209424&amp;width=375&amp;height=238&amp;name=empire_2.jpg 375w, https://blog.rever.vn/hs-fs/hubfs/empire_2.jpg?t=1522854209424&amp;width=750&amp;height=475&amp;name=empire_2.jpg 750w, https://blog.rever.vn/hs-fs/hubfs/empire_2.jpg?t=1522854209424&amp;width=1125&amp;height=713&amp;name=empire_2.jpg 1125w, https://blog.rever.vn/hs-fs/hubfs/empire_2.jpg?t=1522854209424&amp;width=1500&amp;height=950&amp;name=empire_2.jpg 1500w, https://blog.rever.vn/hs-fs/hubfs/empire_2.jpg?t=1522854209424&amp;width=1875&amp;height=1188&amp;name=empire_2.jpg 1875w, https://blog.rever.vn/hs-fs/hubfs/empire_2.jpg?t=1522854209424&amp;width=2250&amp;height=1425&amp;name=empire_2.jpg 2250w" sizes="(max-width: 750px) 100vw, 750px"></em></p>
                                            <p style="text-align: center;"><em>Phối cảnh thiết kế khu cảnh quan công cộng,&nbsp;khu MU10 <a href="https://rever.vn/du-an/empire-city" rel=" noopener" target="_blank">dự án Empire City</a>.&nbsp;Nguồn: Empire City</em></p>
                                            <p style="text-align: center;"><em><img src="https://blog.rever.vn/hs-fs/hubfs/empire_3.jpg?t=1522854209424&amp;width=750&amp;height=475&amp;name=empire_3.jpg" alt="khu cảnh quan công cộng dự án Empire City" width="750" height="475" style="width: 750px;" srcset="https://blog.rever.vn/hs-fs/hubfs/empire_3.jpg?t=1522854209424&amp;width=375&amp;height=238&amp;name=empire_3.jpg 375w, https://blog.rever.vn/hs-fs/hubfs/empire_3.jpg?t=1522854209424&amp;width=750&amp;height=475&amp;name=empire_3.jpg 750w, https://blog.rever.vn/hs-fs/hubfs/empire_3.jpg?t=1522854209424&amp;width=1125&amp;height=713&amp;name=empire_3.jpg 1125w, https://blog.rever.vn/hs-fs/hubfs/empire_3.jpg?t=1522854209424&amp;width=1500&amp;height=950&amp;name=empire_3.jpg 1500w, https://blog.rever.vn/hs-fs/hubfs/empire_3.jpg?t=1522854209424&amp;width=1875&amp;height=1188&amp;name=empire_3.jpg 1875w, https://blog.rever.vn/hs-fs/hubfs/empire_3.jpg?t=1522854209424&amp;width=2250&amp;height=1425&amp;name=empire_3.jpg 2250w" sizes="(max-width: 750px) 100vw, 750px"></em></p>
                                            <p style="text-align: center;"><em>Phối cảnh thiết kế khu cảnh quan công cộng,&nbsp;phân khu Linden Residences<span>&nbsp;</span><a href="https://rever.vn/du-an/empire-city" rel=" noopener" target="_blank">dự án Empire City</a>.&nbsp;Nguồn: Empire City</em></p>
                                            <p style="text-align: center;"><em><img src="https://blog.rever.vn/hs-fs/hubfs/empire_4.jpg?t=1522854209424&amp;width=750&amp;height=475&amp;name=empire_4.jpg" alt="khu cảnh quan công cộng dự án Empire City" width="750" height="475" style="width: 750px;" srcset="https://blog.rever.vn/hs-fs/hubfs/empire_4.jpg?t=1522854209424&amp;width=375&amp;height=238&amp;name=empire_4.jpg 375w, https://blog.rever.vn/hs-fs/hubfs/empire_4.jpg?t=1522854209424&amp;width=750&amp;height=475&amp;name=empire_4.jpg 750w, https://blog.rever.vn/hs-fs/hubfs/empire_4.jpg?t=1522854209424&amp;width=1125&amp;height=713&amp;name=empire_4.jpg 1125w, https://blog.rever.vn/hs-fs/hubfs/empire_4.jpg?t=1522854209424&amp;width=1500&amp;height=950&amp;name=empire_4.jpg 1500w, https://blog.rever.vn/hs-fs/hubfs/empire_4.jpg?t=1522854209424&amp;width=1875&amp;height=1188&amp;name=empire_4.jpg 1875w, https://blog.rever.vn/hs-fs/hubfs/empire_4.jpg?t=1522854209424&amp;width=2250&amp;height=1425&amp;name=empire_4.jpg 2250w" sizes="(max-width: 750px) 100vw, 750px"></em></p>
                                            <p style="text-align: center;"><em>Phối cảnh thiết kế khu cảnh quan trung tâm&nbsp;tại tầng trệt Tháp quan sát Empire 88 Tower,<span>&nbsp;</span><a href="https://rever.vn/du-an/empire-city" rel=" noopener" target="_blank">dự án Empire City</a>.&nbsp;Nguồn: Empire City</em></p>
                                            <p style="text-align: center;"><em><img src="https://blog.rever.vn/hs-fs/hubfs/empire_5.jpg?t=1522854209424&amp;width=750&amp;height=475&amp;name=empire_5.jpg" alt="khu cảnh quan công cộng dự án Empire City" width="750" height="475" style="width: 750px;" srcset="https://blog.rever.vn/hs-fs/hubfs/empire_5.jpg?t=1522854209424&amp;width=375&amp;height=238&amp;name=empire_5.jpg 375w, https://blog.rever.vn/hs-fs/hubfs/empire_5.jpg?t=1522854209424&amp;width=750&amp;height=475&amp;name=empire_5.jpg 750w, https://blog.rever.vn/hs-fs/hubfs/empire_5.jpg?t=1522854209424&amp;width=1125&amp;height=713&amp;name=empire_5.jpg 1125w, https://blog.rever.vn/hs-fs/hubfs/empire_5.jpg?t=1522854209424&amp;width=1500&amp;height=950&amp;name=empire_5.jpg 1500w, https://blog.rever.vn/hs-fs/hubfs/empire_5.jpg?t=1522854209424&amp;width=1875&amp;height=1188&amp;name=empire_5.jpg 1875w, https://blog.rever.vn/hs-fs/hubfs/empire_5.jpg?t=1522854209424&amp;width=2250&amp;height=1425&amp;name=empire_5.jpg 2250w" sizes="(max-width: 750px) 100vw, 750px"></em></p>
                                            <p style="text-align: center;"><em>Phối cảnh thiết kế khu cảnh quan trung tâm&nbsp;tại tầng trệt Tháp quan sát Empire 88 Tower,<span>&nbsp;</span><a href="https://rever.vn/du-an/empire-city" rel=" noopener" target="_blank">dự án Empire City</a>.&nbsp;Nguồn: Empire City</em></p>
                                            <h2 style="text-align: left;"><span style="font-family: Tiempos, Verdana, Geneva, sans-serif; font-size: 26px;">Empire 88 Tower: Thiên nhiên hoà quyện giữa lưng chừng mây</span></h2>
                                            <p>Bên cạnh khu cảnh quan công cộng kể trên thì <a href="/empire-88-tower-thien-nhien-hoa-quyen-giua-lung-chung-may" rel=" noopener" target="_blank">tòa tháp biểu tượng Empire 88 Tower</a> chính là điểm nhấn đặc biệt nhất của dự án Empire City, được xem như thỏi nam châm thu hút mọi sự chú ý của các khách hàng vào dự án.</p>
                                            <p>Được thiết kế để tạo ra môi trường dung hòa giữa cảnh quan tự nhiên với các đại đô thị đang phát triển nhanh chóng, Empire 88 Tower gồm 3 tòa nhà chọc trời với tòa tháp trung tâm cao 333 mét, có kết cấu khối đế được xây dựng như một khu vườn thu nhỏ.</p>
                                            <p><a href="https://blog.rever.vn/tphcm-khu-phuc-hop-co-toa-thap-cao-nhat-viet-nam-empire-city-duoc-tang-them-gan-4-000-can-ho">88 tầng của tòa tháp</a>&nbsp;sẽ bao gồm khu nhà ở, căn hộ, khách sạn và đài quan sát công cộng. Một “khu rừng trên cao” với kết cấu uốn lượn cắt ngang tòa tháp theo phương thẳng đứng giữa lưng chừng trời sẽ mang cảnh quan xanh mát lên giữa không trung.</p>
                                            <p style="text-align: center;"><em><img src="https://blog.rever.vn/hs-fs/hubfs/Blog%20images/750x500/Empire_3.jpg?t=1522854209424&amp;width=750&amp;height=500&amp;name=Empire_3.jpg" alt="tòa tháp biểu tượng Empire 88 Tower" width="750" height="500" style="width: 750px;" srcset="https://blog.rever.vn/hs-fs/hubfs/Blog%20images/750x500/Empire_3.jpg?t=1522854209424&amp;width=375&amp;height=250&amp;name=Empire_3.jpg 375w, https://blog.rever.vn/hs-fs/hubfs/Blog%20images/750x500/Empire_3.jpg?t=1522854209424&amp;width=750&amp;height=500&amp;name=Empire_3.jpg 750w, https://blog.rever.vn/hs-fs/hubfs/Blog%20images/750x500/Empire_3.jpg?t=1522854209424&amp;width=1125&amp;height=750&amp;name=Empire_3.jpg 1125w, https://blog.rever.vn/hs-fs/hubfs/Blog%20images/750x500/Empire_3.jpg?t=1522854209424&amp;width=1500&amp;height=1000&amp;name=Empire_3.jpg 1500w, https://blog.rever.vn/hs-fs/hubfs/Blog%20images/750x500/Empire_3.jpg?t=1522854209424&amp;width=1875&amp;height=1250&amp;name=Empire_3.jpg 1875w, https://blog.rever.vn/hs-fs/hubfs/Blog%20images/750x500/Empire_3.jpg?t=1522854209424&amp;width=2250&amp;height=1500&amp;name=Empire_3.jpg 2250w" sizes="(max-width: 750px) 100vw, 750px"></em></p>
                                            <p style="text-align: center;"><em>Tòa tháp Empire 88 Tower - Biểu tượng đẳng cấp của dự án Empire City</em></p>
                                            <p style="text-align: left;">Hình ảnh các bậc thang lơ lửng tỏa ra nhiều hướng xoay quanh trục trung tâm của tháp biểu trưng cho sự hòa hợp giữa bối cảnh đô thị và môi trường tự nhiên của bán đảo, giữa thành thị và nông thôn. Khu rừng trên cao, với sự tương tác quyến rũ giữa ngoại thất và nội thất, sẽ mang đến trải nghiệm kỳ diệu từ cảnh quan nhiệt đới của Việt Nam.</p>
                                            <p style="text-align: left;">Khu vực khối đế - điểm kết nối tòa tháp với mặt đất, được thiết kế theo hình dáng thửa ruộng bậc thang và những ngọn đồi thi vị, phản ánh vẻ đẹp thiên nhiên đầy mê hoặc của Việt Nam. Các không gian mở phân tầng từ khu vườn ở khối đế sẽ mang đến cho công chúng vô số trải nghiệm mới lạ.</p>
                                            <p style="text-align: center;"><em><img src="https://blog.rever.vn/hs-fs/hubfs/Blog%20images/750x500/Empire_6.jpg?t=1522854209424&amp;width=750&amp;height=1120&amp;name=Empire_6.jpg" alt="Phối cảnh Tòa tháp Empire 88 Tower" width="750" height="1120" style="width: 750px;" srcset="https://blog.rever.vn/hs-fs/hubfs/Blog%20images/750x500/Empire_6.jpg?t=1522854209424&amp;width=375&amp;height=560&amp;name=Empire_6.jpg 375w, https://blog.rever.vn/hs-fs/hubfs/Blog%20images/750x500/Empire_6.jpg?t=1522854209424&amp;width=750&amp;height=1120&amp;name=Empire_6.jpg 750w, https://blog.rever.vn/hs-fs/hubfs/Blog%20images/750x500/Empire_6.jpg?t=1522854209424&amp;width=1125&amp;height=1680&amp;name=Empire_6.jpg 1125w, https://blog.rever.vn/hs-fs/hubfs/Blog%20images/750x500/Empire_6.jpg?t=1522854209424&amp;width=1500&amp;height=2240&amp;name=Empire_6.jpg 1500w, https://blog.rever.vn/hs-fs/hubfs/Blog%20images/750x500/Empire_6.jpg?t=1522854209424&amp;width=1875&amp;height=2800&amp;name=Empire_6.jpg 1875w, https://blog.rever.vn/hs-fs/hubfs/Blog%20images/750x500/Empire_6.jpg?t=1522854209424&amp;width=2250&amp;height=3360&amp;name=Empire_6.jpg 2250w" sizes="(max-width: 750px) 100vw, 750px"></em></p>
                                            <p style="text-align: center;"><em>88 tầng của tòa tháp&nbsp;sẽ bao gồm khu nhà ở, căn hộ, khách sạn và đài quan sát công cộng</em></p>
                                            <p style="text-align: left;">Bên cạnh tòa tháp cao nhất,&nbsp;<a href="https://blog.rever.vn/tphcm-khu-phuc-hop-co-toa-thap-cao-nhat-viet-nam-empire-city-duoc-tang-them-gan-4-000-can-ho">hai tòa tháp còn lại với khối đế được thiết kế đồng nhất</a>&nbsp;cũng bao gồm văn phòng và căn hộ. Khu sinh hoạt cộng đồng được xây dựng theo cấu trúc điều biến, kết nối khu thương mại với khu giải trí. Không gian làm việc chung thiết kế theo yêu cầu của khách hàng, được tích hợp vào các tầng của khu bậc thang này sẽ góp phần gia tăng tính kết nối và hợp tác trong bối cảnh khởi nghiệp đầy sôi động của TP.HCM.</p>
                                            <p style="text-align: left;"><a href="https://rever.vn/du-an/empire-city">Empire 88 Tower - thuộc Empire City</a>&nbsp;là minh chứng cho tầm nhìn dài hạn của chủ đầu tư cũng như công ty kiến trúc Buro Ole Scheeren trong việc định hình và cải thiện chất lượng sống tại các thành phố, cũng như cuộc sống của những cư dân nơi đó.</p>
                                            <p style="text-align: left;">Bạn đang theo dõi bài viết Những hình ảnh đầu tiên về khu cảnh quan công cộng dự án Empire City trong&nbsp;<strong><a href="https://blog.rever.vn/topic/th%E1%BB%8B-tr%C6%B0%E1%BB%9Dng">chuyên mục Thị trường Rever</a></strong>. Ngoài ra, nếu bạn đang quan tâm dự án Empire City, bạn có thể tải về tài liệu <a href="https://offer.rever.vn/phan-tich-va-danh-gia-empire-city" rel=" noopener" target="_blank"><strong>Phân tích và Đánh giá dự án</strong></a> do chuyên viên Rever biên soạn:</p>
                                            <p style="text-align: center;">
                                                <em>
                                                    <!--HubSpot Call-to-Action Code --><span class="hs-cta-wrapper" id="hs-cta-wrapper-f90c4077-5658-416b-b22a-e2f3b40c9eda">
                                                        <span class="hs-cta-node hs-cta-f90c4077-5658-416b-b22a-e2f3b40c9eda" id="hs-cta-f90c4077-5658-416b-b22a-e2f3b40c9eda"><!--[if lte IE 8]><div id="hs-cta-ie-element"></div><![endif]--><a href="https://cta-redirect.hubspot.com/cta/redirect/2775524/f90c4077-5658-416b-b22a-e2f3b40c9eda" target="_blank"><img class="hs-cta-img" id="hs-cta-img-f90c4077-5658-416b-b22a-e2f3b40c9eda" style="border-width:0px;" height="294" width="847" src="https://no-cache.hubspot.com/cta/default/2775524/f90c4077-5658-416b-b22a-e2f3b40c9eda.png" alt="Giá bán Empire City, mặt bằng căn hộ Empire City"></a></span>
                                                        <script charset="utf-8" src="https://js.hscta.net/cta/current.js"></script>
                                                        <script type="text/javascript">    hbspt.cta.load(2775524, 'f90c4077-5658-416b-b22a-e2f3b40c9eda', {});</script>
                                                    </span><!-- end HubSpot Call-to-Action Code -->
                                                </em>
                                            </p>
                                            
                                            <p style="text-align: right;"><strong>Thế An</strong> (TH)</p>
                                        </span>
                                    </div>
                                    <!---->
                                </div>
                                <div>
                                    <span id="hs_cos_wrapper_blog_cta_below_post" class="hs_cos_wrapper hs_cos_wrapper_widget hs_cos_wrapper_type_custom_widget" style="" data-hs-cos-general-type="widget" data-hs-cos-type="custom_widget">
                                        <div class="advance-block">
                                            <h3>Bất động sản liên quan</h3>
                                            <div class="adv-wrapper">
                                                <div class="item">
                                                    <div class="img">

                                                        <a href="https://rever.vn/du-an/empire-city"><img src="https://blog.rever.vn/hubfs/Blog%20images/90x60/duanempirecity.jpg?t=1522854209424" alt="Dự án: Empire City"></a>

                                                    </div>
                                                    <div class="heading">
                                                        <a href="https://rever.vn/du-an/empire-city">Dự án: Empire City</a>
                                                        <p>Chi tiết về dự án Empire City Quận 2</p>
                                                    </div>
                                                </div>
                                                <div class="item">
                                                    <div class="img">

                                                        <a href="https://rever.vn/s/Thu-Thiem--Ho-Chi-Minh--VN/mua"><img src="//blog.rever.vn/hubfs/masterithaodien-561196-edited.jpg?t=1522854209424" alt="Tìm mua nhà tại Thủ Thiêm"></a>

                                                    </div>
                                                    <div class="heading">
                                                        <a href="https://rever.vn/s/Thu-Thiem--Ho-Chi-Minh--VN/mua">Tìm mua nhà tại Thủ Thiêm</a>
                                                        <p>Danh sách bất động sản bán tại Thủ Thiêm</p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </span>
                                </div>

                                <div class="tags-group">

                                    <span class="items"><a>Thị Trường</a></span>

                                    <span class="items"><a>Empire City</a></span>

                                </div>














                            </div>

                        </div><!--end row-->
                    </div><!--end row-wrapper -->

                    <div class="row-fluid-wrapper row-depth-1 row-number-6 ">
                        <div class="row-fluid ">
                            <div class="span12 widget-span widget-type-cell mail-sub" style="" data-widget-type="cell" data-x="0" data-w="12">

                                <div class="row-fluid-wrapper row-depth-1 row-number-7 ">
                                    <div class="row-fluid ">
                                        <div class="span12 widget-span widget-type-raw_html " style="" data-widget-type="raw_html" data-x="0" data-w="12">
                                            <div class="cell-wrapper layout-widget-wrapper">
                                                <span id="hs_cos_wrapper_module_1505895315769165" class="hs_cos_wrapper hs_cos_wrapper_widget hs_cos_wrapper_type_raw_html" style="" data-hs-cos-general-type="widget" data-hs-cos-type="raw_html">
                                                    <div class="heading">
                                                        <div class="img">
                                                            <img src="/hubfs/RV-Blog-Theme/group23.svg" title="">
                                                        </div>
                                                        <div class="tittle">
                                                            <p>Đừng bỏ lỡ thông tin !</p>
                                                            <p class="sub">Đăng ký cùng 14,000 nhà đầu tư bất động sản, nhận những thông tin mới nhất của thị trường được gửi hàng qua email hàng tuần.</p>
                                                        </div>
                                                    </div>
                                                </span>
                                            </div><!--end layout-widget-wrapper -->
                                        </div><!--end widget-span -->
                                    </div><!--end row-->
                                </div><!--end row-wrapper -->

                                <div class="row-fluid-wrapper row-depth-1 row-number-8 ">
                                    <div class="row-fluid ">
                                        <div class="span12 widget-span widget-type-blog_subscribe " style="" data-widget-type="blog_subscribe" data-x="0" data-w="12">
                                            <div class="cell-wrapper layout-widget-wrapper">
                                                <span id="hs_cos_wrapper_module_150581280604540" class="hs_cos_wrapper hs_cos_wrapper_widget hs_cos_wrapper_type_blog_subscribe" style="" data-hs-cos-general-type="widget" data-hs-cos-type="blog_subscribe">
                                                    <h3 id="hs_cos_wrapper_module_150581280604540_title" class="hs_cos_wrapper form-title" data-hs-cos-general-type="widget_field" data-hs-cos-type="text"></h3>

                                                    <div id="hs_form_target_module_150581280604540"></div>



                                                </span>
                                            </div><!--end layout-widget-wrapper -->
                                        </div><!--end widget-span -->
                                    </div><!--end row-->
                                </div><!--end row-wrapper -->

                            </div><!--end widget-span -->
                        </div><!--end row-->
                    </div><!--end row-wrapper -->

                    <div class="row-fluid-wrapper row-depth-1 row-number-9 ">
                        <div class="row-fluid ">
                            <div class="span12 widget-span widget-type-cell rv-blog-body-wrapper" style="" data-widget-type="cell" data-x="0" data-w="12">

                                <div class="row-fluid-wrapper row-depth-1 row-number-10 ">
                                    <div class="row-fluid ">
                                        <div class="span12 widget-span widget-type-raw_html blog-cm" style="" data-widget-type="raw_html" data-x="0" data-w="12">
                                            <div class="cell-wrapper layout-widget-wrapper">
                                                <span id="hs_cos_wrapper_module_1511246648450101" class="hs_cos_wrapper hs_cos_wrapper_widget hs_cos_wrapper_type_raw_html" style="" data-hs-cos-general-type="widget" data-hs-cos-type="raw_html">
                                                    <h3 style="font-weight:500; padding-bottom:20px; margin:0">Bình luận</h3>
                                                    <!-- Load Facebook SDK for JavaScript -->
                                                    <div id="fb-root"></div>
                                                    <script>
                                                        (function (d, s, id) {
                                                            var js, fjs = d.getElementsByTagName(s)[0];
                                                            if (d.getElementById(id)) return;
                                                            js = d.createElement(s); js.id = id;
                                                            js.src = 'https://connect.facebook.net/vi_VN/sdk.js#xfbml=1&version=v2.11&appId=616393751844075';
                                                            fjs.parentNode.insertBefore(js, fjs);
                                                        }(document, 'script', 'facebook-jssdk'));</script>
                                                    <!-- Your embedded comments code -->
                                                    <div class="fb-comments" data-href="https://api.hubspot.com/cos-rendering/v1/internal/edit/5661170886" data-width="100%" data-numposts="5"></div>
                                                </span>
                                            </div><!--end layout-widget-wrapper -->
                                        </div><!--end widget-span -->
                                    </div><!--end row-->
                                </div><!--end row-wrapper -->

                            </div><!--end widget-span -->
                        </div><!--end row-->
                    </div><!--end row-wrapper -->

                    <div class="row-fluid-wrapper row-depth-1 row-number-11 ">
                        <div class="row-fluid ">
                            <div class="span12 widget-span widget-type-cell relative-post-wrapper" style="" data-widget-type="cell" data-x="0" data-w="12">

                                <div class="row-fluid-wrapper row-depth-1 row-number-12 ">
                                    <div class="row-fluid ">
                                        <div class="span12 widget-span widget-type-raw_jinja relative-post-list" style="" data-widget-type="raw_jinja" data-x="0" data-w="12">

                                            <div class="post-items">
                                                <div class="post-detail">
                                                    <span>Bài trước</span>
                                                    <p class="title"><a href="/co-2-ty-dong-mua-can-ho-nao-tot-nhat-quan-2">Có 2 tỷ đồng, mua căn hộ nào tốt nhất Quận 2?</a></p>
                                                </div>
                                                <div class="post-detail">
                                                    <span>Bài tiếp theo</span>
                                                    <p class="title"><a href="/ke-hoach-mua-can-ho-cao-cap-nhe-nhang-nhat">Kế hoạch mua căn hộ cao cấp nhẹ nhàng nhất</a></p>
                                                </div>
                                            </div>




                                        </div><!--end widget-span -->

                                    </div><!--end row-->
                                </div><!--end row-wrapper -->

                            </div><!--end widget-span -->
                        </div><!--end row-->
                    </div><!--end row-wrapper -->

                </div><!--end widget-span -->
            </div><!--end row-->
        </div><!--end row-wrapper -->

        <div class="row-fluid-wrapper row-depth-1 row-number-13 ">
            <div class="row-fluid ">
                <div class="span12 widget-span widget-type-cell rv-relative-wrapper" style="" data-widget-type="cell" data-x="0" data-w="12">

                    <div class="row-fluid-wrapper row-depth-1 row-number-14 ">
                        <div class="row-fluid ">
                            <div class="span12 widget-span widget-type-cell rv-relative-inner" style="" data-widget-type="cell" data-x="0" data-w="12">

                                <div class="row-fluid-wrapper row-depth-1 row-number-15 ">
                                    <div class="row-fluid ">
                                        <div class="span12 widget-span widget-type-custom_widget " style="" data-widget-type="custom_widget" data-x="0" data-w="12">
                                            <div class="cell-wrapper layout-widget-wrapper">
                                                <span id="hs_cos_wrapper_module_150596407844075" class="hs_cos_wrapper hs_cos_wrapper_widget hs_cos_wrapper_type_custom_widget" style="" data-hs-cos-general-type="widget" data-hs-cos-type="custom_widget">
                                                    <h3>Bài viết tương tự</h3>

                                                    <div id="owl-demo" class="owl-carousel owl-theme">
                                                        <!-- Set the max number of related posts to be output to the page here -->











                                                        <div class="item">
                                                            <div class="related-post-item">
                                                                <div class="related-image">
                                                                    <a href="https://blog.rever.vn/cac-phuong-thuc-thanh-toan-du-kien-du-an-gem-riverside-quan-2" title="" class="hs-featured-image-link"><img src="https://blog.rever.vn/hubfs/gem-riverside-ho-boi-tai-du-an-2.jpg?t=1522854209424" alt="Các phương thức thanh toán dự kiến của dự án Gem Riverside Quận 2"></a>
                                                                </div>
                                                                <div class="related-title">
                                                                    <a class="heading-post" href="https://blog.rever.vn/cac-phuong-thuc-thanh-toan-du-kien-du-an-gem-riverside-quan-2">Các phương thức thanh toán dự kiến của dự án Gem Riverside Quận 2</a>
                                                                    <div class="author-n-date">
                                                                        <span class="custom-date-related">
                                                                            03/04/2018
                                                                        </span>•
                                                                        <span class="categories">
                                                                            <!--<a href="https://blog.rever.vn/topic/empire-city">Empire City</a>-->

                                                                            <a href="https://blog.rever.vn/topic/thị-trường">Thị Trường</a>



                                                                        </span>
                                                                    </div>
                                                                </div>
                                                                <div></div>
                                                            </div>
                                                        </div>





                                                        <div class="item">
                                                            <div class="related-post-item">
                                                                <div class="related-image">
                                                                    <a href="https://blog.rever.vn/tram-thu-phi-thu-thiem-duoc-thao-do-sau-7-nam-bo-hoang" title="" class="hs-featured-image-link"><img src="https://blog.rever.vn/hubfs/tramthuphithuthiem-1.jpg?t=1522854209424" alt="Trạm thu phí Thủ Thiêm được tháo dỡ sau 7 năm bỏ hoang"></a>
                                                                </div>
                                                                <div class="related-title">
                                                                    <a class="heading-post" href="https://blog.rever.vn/tram-thu-phi-thu-thiem-duoc-thao-do-sau-7-nam-bo-hoang">Trạm thu phí Thủ Thiêm được tháo dỡ sau 7 năm bỏ hoang</a>
                                                                    <div class="author-n-date">
                                                                        <span class="custom-date-related">
                                                                            31/03/2018
                                                                        </span>•
                                                                        <span class="categories">
                                                                            <!--<a href="https://blog.rever.vn/topic/empire-city">Empire City</a>-->

                                                                            <a href="https://blog.rever.vn/topic/thị-trường">Thị Trường</a>



                                                                        </span>
                                                                    </div>
                                                                </div>
                                                                <div></div>
                                                            </div>
                                                        </div>

                                                        <div class="item">
                                                            <div class="related-post-item">
                                                                <div class="related-image">
                                                                    <a href="https://blog.rever.vn/thiet-ke-chu-trong-an-toan-tai-du-an-ty-do-kenton-node" title="" class="hs-featured-image-link"><img src="https://blog.rever.vn/hubfs/kenton3.jpg?t=1522854209424" alt="Thiết kế chú trọng an toàn tại dự án tỷ đô Kenton Node"></a>
                                                                </div>
                                                                <div class="related-title">
                                                                    <a class="heading-post" href="https://blog.rever.vn/thiet-ke-chu-trong-an-toan-tai-du-an-ty-do-kenton-node">Thiết kế chú trọng an toàn tại dự án tỷ đô Kenton Node</a>
                                                                    <div class="author-n-date">
                                                                        <span class="custom-date-related">
                                                                            31/03/2018
                                                                        </span>•
                                                                        <span class="categories">
                                                                            <!--<a href="https://blog.rever.vn/topic/empire-city">Empire City</a>-->

                                                                            <a href="https://blog.rever.vn/topic/thị-trường">Thị Trường</a>



                                                                        </span>
                                                                    </div>
                                                                </div>
                                                                <div></div>
                                                            </div>
                                                        </div>

                                                    </div>

                                                    <div class="customNavigation">
                                                        <a class="btn prev"></a>
                                                        <a class="btn next"></a>
                                                    </div>
                                                </span>
                                            </div><!--end layout-widget-wrapper -->
                                        </div><!--end widget-span -->
                                    </div><!--end row-->
                                </div><!--end row-wrapper -->

                            </div><!--end widget-span -->
                        </div><!--end row-->
                    </div><!--end row-wrapper -->

                </div><!--end widget-span -->
            </div><!--end row-->
        </div><!--end row-wrapper -->

    </div><!--end body -->
</div><!--end body wrapper -->
